@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h4>.NET is a free, cross-platform, open source developer platform for building many different types of applications.

With .NET, you can use multiple languages, editors, and libraries to build for web, mobile, desktop, gaming, and IoT.

</h4>

<a href="https://code.visualstudio.com/docs/?dv=linux64_deb"> additional information.</a>
