@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    LDS<br />
    Merlo, Bs As Argentina<br />
    <abbr title="Phone">P:</abbr>
    (+54) 11 - 62478566
</address>

<address>
    <strong>Support:</strong> <a href="mailto:vegaluis.v@gmail.com">vegaluis.v@gmail.com</a><br />
</address>
